<footer class="p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>Seções</h5>
                </div>
                <div class="col">
                    <h5>Máquinas</h5>
                </div>
                <div class="col footer-contact">
                    <h5>Contato</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="">Inicio</a>
                </div>
                <div class="col">
                    <a href="/produto/solda-laser/">Solda a laser</a>
                </div>
                <div class="col footer-contact">
                    <a href="https://wa.me/5547991707509"><i class="fa-brands fa-whatsapp"></i> +55 (47) 99170-7509</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/#products">Máquinas</a>
                </div>
                <div class="col">
                    <a href="/produto/corte-laser/">Corte a laser</a>
                </div>
                <div class="col footer-contact">
                    <a href=""><i class="fa-solid fa-envelope"></i> contato@sammaquinas.com.br</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/#about">Empresa</a>
                </div>
                <div class="col">
                    <a href="/produto/prensa-drobadeira/">Prensa drobadeira</a>
                </div>
                <div class="col footer-contact">
                    <a href="/#contac"><i class="fa-solid fa-globe"></i> www.sammaquinas.com.br</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/#contact">Contatos</a>
                </div>
                <div class="col">
                    <a href="/produto/torno-cnc/">Torno CNC</a>
                </div>
                <div class="col footer-contact">
                    <a href="https://www.instagram.com/sam_maquinas/"><i class="fa-brands fa-instagram"></i>
                        @sam_maquinas</a>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a href="/produto/centro-usinagem/">Centro de usinagem</a>
                </div>
                <div class="col footer-contact"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a href="/produto/guilhotina/">Guilhotina</a>
                </div>
                <div class="col footer-contact"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a href="/produto/curvadeira-cnc/">Curvadeira CNC</a>
                </div>
                <div class="col footer-contact"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a href="/produto/empilhadeira/">Empilhadeira</a>
                </div>
                <div class="col footer-contact"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a href="/produto/calandra/">Calandra</a>
                </div>
                <div class="col footer-contact"></div>
            </div>
            <div class="row mb-3">
                <div class="col"></div>
                <div class="col">
                    <a href="/produto/pecas-reposicao/">Peças de reposição</a>
                </div>
                <div class="col footer-contact"></div>
            </div>
            <div class="row mb-4" id="footer-contact-mobile">
                <div class="col text-center">
                    <h5>Contatos</h5>
                </div>
                <div class="row text-center">
                    <a href="https://wa.me/5547991707509"><i class="fa-brands fa-whatsapp"></i> +55 (47) 99170-7509</a>
                </div>
                <div class="row text-center">
                    <a href=""><i class="fa-solid fa-envelope"></i> contato@sammaquinas.com.br</a>
                </div>
                <div class="row text-center">
                    <a href=""><i class="fa-solid fa-globe"></i> www.sammaquinas.com.br</a>
                </div>
            </div>
        </div>
        <div class="col text-center" id="mobile-footer">
            <p>© 2026 SAM Comércio de Máquinas LTDA. Todos os direitos reservados.</p>
        </div>
        <div class="col text-center">
            Made by <a target="_blank" href="https://wa.me/5547992626735"><img src="./assets/imgs/kn-mini.png" alt=""
                    style="height: 20px;"> Solution</a>
        </div>
    </footer>